<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Thermostat_Challenge</title>
    <meta name="description" content="Thermostat in JS">
    <meta name="author" content="Makers">

    <link rel="stylesheet" href="./css/stylesheet.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/thermostat.js"></script>
    <script type="text/javascript" src="./js/controller.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
